<h1>メンバー追加</h1>
<%= form_for @member do |f| %>
  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name, :size => 20 %>
    <%= f.label :グループ %>
    <%= f.select :group, {'SCHOPS': "SCHOPS", 'どっかいこーぜ': "どっかいこーぜ"}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

  </div>
  <%= f.submit "追加する" %>
<% end %>